.FormContainer {
    padding: 50px;
    padding-bottom: 10px;
    justify-content: center;
    margin-left: 25%;
}

.btnASendAction{
    justify-content: center;
}
.boton_seguir{
    margin-left: 50%;
    margin-top: 0%;
}

.seguir__comprando{
    margin-left: 36%;
}