.imageNav{
  height: 70px;
}
.linkNav a{
  font-size: 20px;
}

.textoItem{
  color: red;
}

.card{
  width: 16em;
  margin:25px;
}
.btns{
  margin: 2px;
}
.contador{
  font-size: 17px;
}
.botones{
  display: flex;
  justify-content: center;
}